<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello <span th:text="${name}"></span>, Jaguar You? Bienvenido a <span th:text="${appName}"></span>
</body>
</html>