<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Bienvenido a <span th:text="${appName}"></span>. El sitio se encuentra en construcción, puedes hacer uso de nuestra API
</body>
</html>